<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="es.upm.miw.SolitarioCelta"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_miw_launcher"
        android:roundIcon="@mipmap/ic_miw_launcher_rounded"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AcercaDe"
            android:theme="@android:style/Theme.Material.Dialog.MinWidth"
            android:label="@string/aboutText" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SCeltaPrefs"
            android:theme="@style/AppTheme"
            android:label="@string/preferencesText" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:theme="@style/AppTheme"
            android:label="@string/prefTituloRanking" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        </application>
        <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


</manifest>
